<p id="error"><%= flash[:error] %></p>
<p id="notice"><%= flash[:notice] %></p>
<h1>Log in</h1>
<div id="login_form">
<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p><%= image_submit_tag "/images/go.png" , :height => 20, :width => 35, :align => "right" %></p>
<% end %>
</div>
