<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table class="pretty">
  <tr>
    <td>
      <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %>
      </div>
     </td>
     <td> 
      <div class="field">
        <%= f.label :dob %><br />
        <%= f.date_select :dob, :start_year => Time.now.year, :end_year => 1940, :include_blank => true %>
      </div>
    </td>
  </tr>
  <tr>
      <td>
        <div class="field">
          <%= f.label :passport_number %><br />
          <%= f.text_field :passport_number %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :passport_issue_date %><br />
          <%= f.date_select :passport_issue_date, :start_year => Time.now.year, :end_year => Time.now.year - 20, :include_blank => true%>
        </div>
      </td>
      <td>
      <div class="field">
        <%= f.label :passport_expiry_date %><br />
        <%= f.date_select :passport_expiry_date , :start_year => Time.now.year , :end_year => Time.now.year + 20, :include_blank => true%>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.label :passport_issue_country %><br />
        <%= f.country_select :passport_issue_country %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.label :mobile %><br />
        <%= f.text_field :mobile %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.label :home_phone %><br />
        <%= f.text_field :home_phone %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.label :office_phone %><br />
        <%= f.text_field :office_phone %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="field">
        <%= f.label :gender %><br />
        <%= f.select :gender ,[['Male','Male'],['Female','Female']]%>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.label :nationality %><br />
        <%= f.country_select :nationality %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.label :address %><br />
        <%= f.text_field :address %>
      </div>
    </td>

      <td>
      <div class="field">
        <%= f.label :zip %><br />
        <%= f.text_field :zip %>
      </div>
    </td>
  </tr>  
<tr>
    <td>
      <div class="field">
        <%= f.label :country %><br />
        <%= f.country_select :country %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.label :external_id %><br />
        <%= f.text_field :external_id %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.label :airline_id %><br />
        <%= f.select :airline_id , Airline.all.collect {|p| [ p.code, p.id ] },
            { :include_blank => true } %>
      </div>
    </td>
      <td>
      <div class="field">
        <%= f.label :role_id %><br />
        <%= f.select :role_id, Role.all.collect {|p| [ p.code, p.id ] },
            { :include_blank => true } %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
        <div class="field">
        <%= f.label :employee_id %><br />
        <%= f.select :employee_id, Employee.where('airline_id = ?', :airline_id).collect {|p| [ p.first_name, p.id ] }, 
            { :include_blank => true } %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.label :relation_id %><br />
        <%= f.text_field :relation_id%>
      </div>
    </td>
  </tr>
</table>
  <div class="actions">
    <%= link_to "Back", employees_path %>    
    <%= f.submit %>
  </div>

<% end %>
