<%= form_for @search, :url => employees_path, :html => {:method => :get} do |f| %>
<fieldset id="emp_search" class="pretty">
    <legend id="emp_legend"> Search</legend>
    <%= f.label :name %> <br/>
    <%= f.text_field :first_name_or_last_name_contains %><br />
    <%= f.label :email %> <br/>
    <%= f.text_field :email_contains %><br />
    <%= f.label :phone_ %> <br/>
    <%= f.text_field :mobile_or_home_phone_or_office_phone_contains %><br /> 
    <%= f.label :related_to %> <br/>
    <%= f.text_field :employee_first_name_or_employee_last_name_contains%><br /> 
    <%= f.label :relation %> <br/>
    <%= f.text_field :relation_name_contains %><br />  
    <%= f.label :external_Id %> <br/>
    <%= f.text_field :external_id_contains %><br />      
    <%= f.label :employment_number %> <br/>
    <%= f.text_field :employment_number_contains%> <br/>
    <%= f.label :card_number %> <br/>
    <%= f.text_field :card_number_contains%> <br/>
    <%= f.label :airline_, :disabled => !admin? %><br/>   
    <%= f.text_field :airline_code_contains, :disabled => !admin? %> </br>
    <br/>
    <%= f.submit "Find", :type => :image, :src => "/images/go.png", :width => 35, :height => 20, :align => "right" %>
</fieldset>
<% end %>
<table class="pretty">
      <caption>Employee Listing <%= link_to image_tag("/images/add.png", :border => 0, :width => 30, :height => 30, :align => "right"), new_employee_path %></caption>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Emp #</th>
    <th>Card #</th>
    <th>Card Exp</th>
    <th>Email</th>
    <th>Airline</th>
    <th>Role</th>
    <th>Related To</th>
    <th>Relation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= image_tag employee.avatar.url(:thumb) %></td>
    <td><%= employee.first_name + ' ' + employee.last_name%></td>
    <td><%= employee.employment_number%></td>
    <td><%= employee.card_number %></td>
    <td><%= employee.card_expiry_date %></td>
    <td><%= employee.email %></td>
    <td><%= employee.airline.code %></td>
    <td><%= employee.role.code %></td>
    <td><%= if employee.employee
        employee.employee.first_name + ' ' + employee.employee.last_name 
        end%>
    <td><%= employee.relation.name %></td>
    <td><%= link_to image_tag("/images/info.png", :border => 0, :width => 16, :height => 16), employee %></td>
    <td><%= link_to image_tag("/images/edit.png", :border => 0, :width => 16, :height => 16), edit_employee_path(employee) %></td>
    <td><%= link_to image_tag("/images/delete.png", :border => 0, :width => 16, :height => 16), employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />
<%= will_paginate @employees%>
