<p id="notice"><%= notice %></p>
<table class="pretty">
  <tr>
    <td>
      <p>
        <b>Title:</b>
        <%= @employee.title %>
      </p>
     </td>
     <td> 
      <p>
        <b>First name:</b>
        <%= @employee.first_name %>
      </p>
    </td>
    <td>
      <p>
        <b>Last name:</b>
        <%= @employee.last_name %>
      </p>
    </td>
    <td>
      <p>
        <b>Dob:</b>
        <%= @employee.dob %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        <b>Passport number:</b>
        <%= @employee.passport_number %>
      </p>
    </td>
    <td>
      <p>
        <b>Passport issue date:</b>
        <%= @employee.passport_issue_date %>
      </p>
    </td>
    <td>
      <p>
        <b>Passport expiry date:</b>
        <%= @employee.passport_expiry_date %>
      </p>
    </td>
    <td> 
      <p>
        <b>Passport issue country:</b>
        <%= @employee.passport_issue_country %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
        <p>
          <b>Email:</b>
          <%= @employee.email %>
        </p>
    </td>
    <td>
        <p>
          <b>Mobile:</b>
          <%= @employee.mobile %>
        </p>
    </td>
    <td>
        <p>
          <b>Home phone:</b>
          <%= @employee.home_phone %>
        </p>
    </td>
    <td>
        <p>
          <b>Office phone:</b>
          <%= @employee.office_phone %>
        </p>
    </td>
    <tr>
      <td>
        <p>
          <b>Gender:</b>
          <%= @employee.gender %>
        </p>
      </td>
      <td>
        <p>
          <b>Nationality:</b>
          <%= @employee.nationality %>
        </p>
      </td>
      <td>
        <p>
          <b>Address:</b>
          <%= @employee.address %>
        </p>
      </td>
      <td>
        <p>
          <b>Zip:</b>
          <%= @employee.zip %>
        </p>
      </td>
    <tr>
      <td>
        <p>
          <b>Country:</b>
          <%= @employee.country %>
        </p>
      </td>
      <td>
        <p>
          <b>External:</b>
          <%= @employee.external_id %>
        </p>
      </td>
      <td>
        <p>
          <b>Airline:</b>
          <%= @employee.airline.code %>
        </p>
      </td>
      <td>
        <p>
          <b>Role:</b>
          <%= @employee.role.code %>
        </p>
      </td>
    <tr>
      <td>
        <p>
          <b>Related to</b>
          <%= if @employee.employee 
            @employee.employee.first_name + ' ' + @employee.employee.last_name 
           end %>
        </p>
      </td>
      <td>
        <p>
          <b>Relationship:</b>
          <%= @employee.relation.name %>
        </p>
      </td>
    </tr>
</table>
<div class="actions">
  <%= link_to 'Edit', edit_employee_path(@employee) %> |
  <%= link_to 'Back', employees_path %>
</div>
