<p id="notice"><%= notice %></p>
<table class="pretty">
  <tr>
    <td>
      <p>
        <b>Name:</b>
        <%= @user.name %>
      </p>
    </td>
    <td>
      <p>
        <b>Email:</b>
        <%= @user.email %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        <b>Role:</b>
        <%= @user.app_role.code%>
      </p>
    </td>
    <td>
      <p>
        <b>Airline:</b>
        <%= @user.airline.code %>
      </p>
    </td>
  </tr>
</table>

<div class="actions">
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>
