<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table class="pretty">
  <tr>
    <td>
      <div class="field">
        <%= f.label :code %><br />
        <%= f.text_field :code %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
    </td>
  </tr>
</table>
  <div class="actions">
    <%= link_to 'Back', roles_path %>
    <%= f.submit %>
  </div>
<% end %>
