<table class="pretty">
  <caption> 
    Roles <%= link_to image_tag("/images/add.png", :border => 0, :width => 30, :height => 30, :align => "right"), new_role_path%>
</caption>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%= role.code %></td>
    <td><%= role.name %></td>
    <td><%= link_to image_tag("/images/info.png", :border => 0, :width => 16, :height => 16), role %></td>
    <td><%= link_to image_tag("/images/edit.png", :border => 0, :width => 16, :height => 16), edit_role_path(role) %></td>
    <td><%= link_to image_tag("/images/delete.png", :border => 0, :width => 16, :height => 16), role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />