<p id="notice"><%= notice %></p>
<table class="pretty">
	<tr>
		<td>
			<p>
			  <b>Code:</b>
			  <%= @role.code %>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
			  <b>Name:</b>
			  <%= @role.name %>
			</p>
		</td>
	</tr>
</table>

<div class="actions">
	<%= link_to 'Edit', edit_role_path(@role) %> |
	<%= link_to 'Back', roles_path %>
</div>
