<table class="pretty">
  <caption>Airlines <%= link_to image_tag("/images/add.png", :border => 0, :width => 30, :height => 30, :align => "right"), new_airline_path %>
  </caption>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @airlines.each do |airline| %>
  <tr>
    <td><%= airline.name %></td>
    <td><%= airline.code %></td>
    <td><%= airline.description %></td>
    <td><%= link_to image_tag("/images/info.png", :border => 0, :width => 16, :height => 16), airline %></td>
    <td><%= link_to image_tag("/images/edit.png", :border => 0, :width => 16, :height => 16), edit_airline_path(airline) %></td>
    <td><%= link_to image_tag("/images/delete.png", :border => 0, :width => 16, :height => 16), airline, method: :delete, data: { confirm: 'Are you sure? All dependents will also be removed!' } %></td>
  </tr>
<% end %>
</table>

<br />