<h1>Listing airlines</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Description</th>
    <th>Enabled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @airlines.each do |airline| %>
  <tr>
    <td><%= airline.name %></td>
    <td><%= airline.code %></td>
    <td><%= airline.description %></td>
    <td><%= airline.enabled %></td>
    <td><%= link_to 'Show', airline %></td>
    <td><%= link_to 'Edit', edit_airline_path(airline) %></td>
    <td><%= link_to 'Destroy', airline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Airline', new_airline_path %>
