<!DOCTYPE html>
<html>
<head>
  <title>Hrmff</title>
  <img src='/images/logo.png'/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render_navigation :renderer => :links, :join_with => " "%>
  <br/>
 <div id="user_nav">
  <% if current_user %>
    <span style="color:gainsboro;"> Logged in as : </span><span style="font-weight: bold; color:gainsboro;"><%= current_user.email %> </span>
  <% end %>
</div>
<br/>
 </head>
<body>
<%= yield %>

</body>
</html>
